form {
    margin-top: 2em;
    width: 60%;
}

.list-item {
    margin: 0 0.5em 0.5em 0 !important;
}

form > div > * {
    margin-bottom: 1em !important;
}

.css-1wllaw9-ColorPicker {
    display: flex;
    flex-direction: column;
}

.css-1wllaw9-ColorPicker > * {
    margin-bottom: 5px;
}

.css-x1r72b-Slider {
    cursor: pointer;
}

.models-header {
    display: flex;
    align-items: center;
}

.models-header > * {
    margin-right: 0.3em !important;
}

.model-field {
    display: flex;
    margin-top: 1em;
}

.model-field > * {
    margin-right: 1em !important;
    flex-grow: 1;
}

.model-title {
    margin-bottom: 0.5em !important;
}

.model-field-add-btn {
    margin-top: 1em !important;
}

.submit-btn {
    margin-top: 1em !important;
}

.model-container {
    margin-top: 2em;
}