form {
    margin-top: 2em;
    width: 35%;
}

.list-item {
    margin: 0 0.5em 0.5em 0 !important;
}

form > div > * {
    margin-bottom: 1em !important;
}

.css-1wllaw9-ColorPicker {
    display: flex;
    flex-direction: column;
}

.css-1wllaw9-ColorPicker > * {
    margin-bottom: 5px;
}

.css-x1r72b-Slider {
    cursor: pointer;
}

.models-header {
    display: flex;
    align-items: center;
}

.models-header > * {
    margin-right: 0.3em !important;
}

.field {
    display: flex;
    
}